In [116]:
# üîπ Import Pandas
import pandas as pd
import numpy as np
from google.colab import drive

drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [117]:
# ‚ñ∂Ô∏è Creating a Series
data = [10, 20, 30]
labels = ['b', 'c', 'a']
series = pd.Series(data, index=labels)

In [118]:
print("Series:\n", series)

Series:
 b    10
c    20
a    30
dtype: int64

In [119]:
# Access by label and position
print("\nAccess by label (b):", series['b'])
print("Access by position (index 1):", series[1])

Access by label (b): 10
Access by position (index 1): 20

<ipython-input-119-99c2fa05fc44>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Access by position (index 1):", series[1])

In [120]:
# NumPy-like operation
print("\nSeries multiplied by 2:\n", series * 2)

Series multiplied by 2:
 b    20
c    40
a    60
dtype: int64

In [121]:
# ‚ñ∂Ô∏è Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, np.nan]  # np.nan to demonstrate missing data
}

In [122]:
df = pd.DataFrame(data)

In [123]:
print("DataFrame:\n", df)

DataFrame:
       Name  Age   Salary
0    Alice   25  50000.0
1      Bob   30  60000.0
2  Charlie   35      NaN

In [124]:
# Accessing rows and columns
print("\nAccess 'Age' column:\n", df['Age'])
print("\nAccess first row using .iloc:\n", df.iloc[0])

Access 'Age' column:
 0    25
1    30
2    35
Name: Age, dtype: int64

Access first row using .iloc:
 Name        Alice
Age            25
Salary    50000.0
Name: 0, dtype: object

In [125]:
# Handling missing data
print("\nCheck for missing data:\n", df.isnull())

Check for missing data:
     Name    Age  Salary
0  False  False   False
1  False  False   False
2  False  False    True

In [126]:
# Basic statistics
print("\nDataFrame statistics:\n", df.describe())

DataFrame statistics:
         Age        Salary
count   3.0      2.000000
mean   30.0  55000.000000
std     5.0   7071.067812
min    25.0  50000.000000
25%    27.5  52500.000000
50%    30.0  55000.000000
75%    32.5  57500.000000
max    35.0  60000.000000

In [127]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})
# Display the DataFrame
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [128]:
# Write to CSV
df.to_csv('sample_data.csv', index=False)  # Saves without the index column
print(" CSV file written: sample_data.csv")

 CSV file written: sample_data.csv

In [129]:
# Read from CSV
df_loaded = pd.read_csv('sample_data.csv')

In [130]:
# Show loaded DataFrame
print("Loaded CSV:")
print(df_loaded)

Loaded CSV:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [131]:
# Reading only first 2 rows and setting 'Name' as the index
df_partial = pd.read_csv('sample_data.csv', nrows=2, index_col='Name')
print("Partial CSV Read (2 rows, 'Name' as index):\n", df_partial)

Partial CSV Read (2 rows, 'Name' as index):
        Age         City
Name
Alice   25     New York
Bob     30  Los Angeles

In [132]:
df = pd.DataFrame({
    'Product': ['Laptop', 'Mouse', 'Keyboard'],
    'Price': [1200, 25, 75],
    'Quantity': [10, 100, 50]
})
# Show DataFrame
df

    Product  Price  Quantity
0    Laptop   1200        10
1     Mouse     25       100
2  Keyboard     75        50

In [133]:
# Write to Excel
df.to_excel('products.xlsx', index=False, sheet_name='Inventory')
print("Excel file written: products.xlsx")

Excel file written: products.xlsx

In [134]:
# Read from Excel
df_loaded = pd.read_excel('products.xlsx', sheet_name='Inventory')

# Display loaded DataFrame
print("Loaded Excel Data:")
print(df_loaded)

Loaded Excel Data:
    Product  Price  Quantity
0    Laptop   1200        10
1     Mouse     25       100
2  Keyboard     75        50

In [135]:
# Writing multiple sheets
with pd.ExcelWriter('multi_sheet.xlsx', engine='openpyxl') as writer:
    df.to_excel(writer, sheet_name='Sheet1', index=False)
    df.describe().to_excel(writer, sheet_name='Summary')

In [136]:
print("Excel file with multiple sheets saved: multi_sheet.xlsx")

Excel file with multiple sheets saved: multi_sheet.xlsx

In [137]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Age': [25, 30, 35, 40, 28, 22],
    'Salary': [50000, 60000, 70000, 80000, 62000, 45000],
    'Department': ['HR', 'Finance', 'IT', 'HR', 'IT', 'Finance']
})

df

      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT
3    David   40   80000         HR
4      Eva   28   62000         IT
5    Frank   22   45000    Finance

In [138]:
# First 5 rows
print(" df.head():\n", df.head())

 df.head():
       Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT
3    David   40   80000         HR
4      Eva   28   62000         IT

In [139]:
# Last 5 rows
print("\n df.tail():\n", df.tail())

 df.tail():
       Name  Age  Salary Department
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT
3    David   40   80000         HR
4      Eva   28   62000         IT
5    Frank   22   45000    Finance

In [140]:
#  First 3 rows
print("\n df.head(3):\n", df.head(3))

 df.head(3):
       Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT

In [141]:
#  Last 2 rows
print("\n df.tail(2):\n", df.tail(2))

 df.tail(2):
     Name  Age  Salary Department
4    Eva   28   62000         IT
5  Frank   22   45000    Finance

In [142]:
# Shape of the DataFrame (rows, columns)
print(" df.shape:", df.shape)

 df.shape: (6, 4)

In [143]:
# Column names
print(" df.columns:", df.columns.tolist())

 df.columns: ['Name', 'Age', 'Salary', 'Department']

In [144]:
# Row index labels
print(" df.index:", df.index)

 df.index: RangeIndex(start=0, stop=6, step=1)

In [145]:
# Data types of each column
print(" df.dtypes:\n", df.dtypes)

 df.dtypes:
 Name          object
Age            int64
Salary         int64
Department    object
dtype: object

In [146]:
# Info summary: types, non-null counts
print("\n df.info():")
df.info()

 df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        6 non-null      object
 1   Age         6 non-null      int64
 2   Salary      6 non-null      int64
 3   Department  6 non-null      object
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

In [147]:
# Descriptive statistics (numeric columns)
print(" df.describe():\n", df.describe())

 df.describe():
             Age        Salary
count   6.00000      6.000000
mean   30.00000  61166.666667
std     6.60303  12812.754063
min    22.00000  45000.000000
25%    25.75000  52500.000000
50%    29.00000  61000.000000
75%    33.75000  68000.000000
max    40.00000  80000.000000

In [148]:
# Descriptive statistics (numeric columns)
print(" df.describe():\n", df.describe())

 df.describe():
             Age        Salary
count   6.00000      6.000000
mean   30.00000  61166.666667
std     6.60303  12812.754063
min    22.00000  45000.000000
25%    25.75000  52500.000000
50%    29.00000  61000.000000
75%    33.75000  68000.000000
max    40.00000  80000.000000

In [149]:
# Data as NumPy array
print("df.values:\n", df.values)

df.values:
 [['Alice' 25 50000 'HR']
 ['Bob' 30 60000 'Finance']
 ['Charlie' 35 70000 'IT']
 ['David' 40 80000 'HR']
 ['Eva' 28 62000 'IT']
 ['Frank' 22 45000 'Finance']]

In [150]:
# Random sampling of 2 rows
print(" df.sample(2):\n", df.sample(2))

 df.sample(2):
       Name  Age  Salary Department
4      Eva   28   62000         IT
2  Charlie   35   70000         IT

In [151]:
# DataFrame as plain text string
print(" df.to_string():\n", df.to_string())

 df.to_string():
       Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT
3    David   40   80000         HR
4      Eva   28   62000         IT
5    Frank   22   45000    Finance

In [152]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Department': ['HR', 'Finance', 'IT', 'HR'],
    'Salary': [50000, 60000, 70000, 80000]
})
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30    Finance   60000
2  Charlie   35         IT   70000
3    David   40         HR   80000

In [153]:
# Drop a column (e.g. 'Department')
df_dropped_col = df.drop('Department', axis=1)
print("After dropping 'Department' column:\n", df_dropped_col)

After dropping 'Department' column:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

In [154]:
# Drop multiple columns
df_dropped_cols = df.drop(['Age', 'Salary'], axis=1)
print("After dropping 'Age' and 'Salary' columns:\n", df_dropped_cols)

After dropping 'Age' and 'Salary' columns:
       Name Department
0    Alice         HR
1      Bob    Finance
2  Charlie         IT
3    David         HR

In [155]:
# Drop a row by index label
df_dropped_row = df.drop(2)  # Drops the row with index 2 (Charlie)
print("After dropping row at index 2:\n", df_dropped_row)

After dropping row at index 2:
     Name  Age Department  Salary
0  Alice   25         HR   50000
1    Bob   30    Finance   60000
3  David   40         HR   80000

In [156]:
# Drop and modify in-place
df_copy = df.copy()
df_copy.drop('Salary', axis=1, inplace=True)
print("Modified in-place (Salary column removed):\n", df_copy)

Modified in-place (Salary column removed):
       Name  Age Department
0    Alice   25         HR
1      Bob   30    Finance
2  Charlie   35         IT
3    David   40         HR

In [157]:
# Handle missing labels safely
df_safe = df.drop(['NonExistent'], axis=1, errors='ignore')
print("Dropping non-existent column safely:\n", df_safe)

Dropping non-existent column safely:
       Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30    Finance   60000
2  Charlie   35         IT   70000
3    David   40         HR   80000

In [158]:
# Chaining with other methods
filtered = df.drop('Salary', axis=1).head(2)
print("Drop then show head:\n", filtered)

Drop then show head:
     Name  Age Department
0  Alice   25         HR
1    Bob   30    Finance

In [159]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 30, 40],
    'Salary': [50000, 60000, 60000, 80000]
})

print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   30   60000
3    David   40   80000

In [160]:
# Sort by Salary (ascending)
sorted_by_salary = df.sort_values('Salary')
print(" Sorted by Salary:\n", sorted_by_salary)

 Sorted by Salary:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   30   60000
3    David   40   80000

In [161]:
# Sort by Age descending
sorted_by_age_desc = df.sort_values('Age', ascending=False)
print("\n Sorted by Age (descending):\n", sorted_by_age_desc)

 Sorted by Age (descending):
       Name  Age  Salary
3    David   40   80000
1      Bob   30   60000
2  Charlie   30   60000
0    Alice   25   50000

In [162]:
# Sort by multiple columns
multi_sort = df.sort_values(['Age', 'Salary'], ascending=[True, False])
print("\nSorted by Age (asc) and Salary (desc):\n", multi_sort)

Sorted by Age (asc) and Salary (desc):
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   30   60000
3    David   40   80000

In [163]:
# Shuffle index then sort
df_shuffled = df.sample(frac=1)
print("Shuffled DataFrame:\n", df_shuffled)

sorted_by_index = df_shuffled.sort_index()
print("\n Sorted by index:\n", sorted_by_index)

Shuffled DataFrame:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
3    David   40   80000
2  Charlie   30   60000

 Sorted by index:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   30   60000
3    David   40   80000

In [164]:
# Rank by Salary
df['Salary_Rank'] = df['Salary'].rank()
print(" Salary Rank (average for ties):\n", df)

 Salary Rank (average for ties):
       Name  Age  Salary  Salary_Rank
0    Alice   25   50000          1.0
1      Bob   30   60000          2.5
2  Charlie   30   60000          2.5
3    David   40   80000          4.0

In [165]:
# Sort columns alphabetically
sorted_columns = df.sort_index(axis=1)
print("Columns sorted alphabetically:\n", sorted_columns)

Columns sorted alphabetically:
    Age     Name  Salary  Salary_Rank
0   25    Alice   50000          1.0
1   30      Bob   60000          2.5
2   30  Charlie   60000          2.5
3   40    David   80000          4.0

In [166]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, None],
    'Salary': [50000, 60000, 70000, None, 62000],
    'Department': ['HR', 'Finance', 'IT', 'HR', 'IT']
})

print("Sample DataFrame:")
print(df)

Sample DataFrame:
      Name   Age   Salary Department
0    Alice  25.0  50000.0         HR
1      Bob  30.0  60000.0    Finance
2  Charlie  35.0  70000.0         IT
3    David  40.0      NaN         HR
4      Eva   NaN  62000.0         IT

In [167]:
## .shape ‚Äî Dimensions
# Returns a tuple with number of rows and columns

print("Shape (rows, columns):", df.shape)

Shape (rows, columns): (5, 4)

In [168]:
## .columns ‚Äî Column labels
print(" Column Names:", df.columns.tolist())

 Column Names: ['Name', 'Age', 'Salary', 'Department']

In [169]:
##  .index ‚Äî Row labels
print("Index Labels:", df.index)

Index Labels: RangeIndex(start=0, stop=5, step=1)

In [170]:
## .dtypes ‚Äî Data types of each column

print("Data Types:\n", df.dtypes)

Data Types:
 Name           object
Age           float64
Salary        float64
Department     object
dtype: object

In [171]:
## .info() ‚Äî Structure and memory usage

print("DataFrame Info:")
df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         4 non-null      float64
 2   Salary      4 non-null      float64
 3   Department  5 non-null      object
dtypes: float64(2), object(2)
memory usage: 292.0+ bytes

In [172]:
## .count() ‚Äî Count of non-NA values

print("Non-null counts:\n", df.count())

Non-null counts:
 Name          5
Age           4
Salary        4
Department    5
dtype: int64

In [173]:
df = pd.DataFrame({
    'Age': [25, 30, 35, 40, 28],
    'Salary': [50000, 60000, 70000, 80000, 62000],
    'Department': ['HR', 'Finance', 'IT', 'HR', 'IT']
})

print("Sample DataFrame:")
print(df)

Sample DataFrame:
   Age  Salary Department
0   25   50000         HR
1   30   60000    Finance
2   35   70000         IT
3   40   80000         HR
4   28   62000         IT

In [174]:
## Basic Aggregates: .sum(), .mean(), .std()

print("Total Age:", df['Age'].sum())
print("Average Salary:", df['Salary'].mean())
print("Salary Std Dev:", df['Salary'].std())

Total Age: 158
Average Salary: 64400.0
Salary Std Dev: 11260.550608207397

In [175]:
## Range Values: .min(), .max()

print("Minimum Age:", df['Age'].min())
print("Maximum Salary:", df['Salary'].max())

Minimum Age: 25
Maximum Salary: 80000

In [176]:
## Index of Min/Max: .idxmin(), .idxmax()

print("Index of Minimum Age:", df['Age'].idxmin())
print("Index of Maximum Salary:", df['Salary'].idxmax())

Index of Minimum Age: 0
Index of Maximum Salary: 3

In [177]:
## Summary of All Numeric Columns: .describe()

print("Summary Stats:\n", df.describe())

Summary Stats:
             Age        Salary
count   5.00000      5.000000
mean   31.60000  64400.000000
std     5.94138  11260.550608
min    25.00000  50000.000000
25%    28.00000  60000.000000
50%    30.00000  62000.000000
75%    35.00000  70000.000000
max    40.00000  80000.000000

In [178]:
## Frequency of Categorical Values: .value_counts()

print("Department Frequency:\n", df['Department'].value_counts())

Department Frequency:
 Department
HR         2
IT         2
Finance    1
Name: count, dtype: int64

In [179]:
## Central Tendency: .median(), .mode()

print("Median Age:", df['Age'].median())
print("Salary Mode:\n", df['Salary'].mode())

Median Age: 30.0
Salary Mode:
 0    50000
1    60000
2    62000
3    70000
4    80000
Name: Salary, dtype: int64

In [180]:
## Using `axis` parameter
# - `axis=0` (default) ‚Üí operate column-wise
# - `axis=1` ‚Üí operate row-wise

# Sum for each row
print("üßæ Row-wise totals:\n", df[['Age', 'Salary']].sum(axis=1))

üßæ Row-wise totals:
 0    50025
1    60030
2    70035
3    80040
4    62028
dtype: int64

In [181]:
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}, index=['x', 'y', 'z'])

df2 = pd.DataFrame({
    'A': [10, 20],
    'B': [30, 40]
}, index=['y', 'z'])

print("DataFrame 1:\n", df1)
print("\nDataFrame 2:\n", df2)

DataFrame 1:
    A  B
x  1  4
y  2  5
z  3  6

DataFrame 2:
     A   B
y  10  30
z  20  40

In [182]:
# Add df1 and df2
result = df1 + df2
print("df1 + df2 (auto-aligned):\n", result)

df1 + df2 (auto-aligned):
       A     B
x   NaN   NaN
y  12.0  35.0
z  23.0  46.0

In [183]:
## Using `.add()` with `fill_value` to handle NaNs
# You can fill missing values before the operation

# Fill missing with 0 during addition
result_filled = df1.add(df2, fill_value=0)
print("df1.add(df2, fill_value=0):\n", result_filled)

df1.add(df2, fill_value=0):
       A     B
x   1.0   4.0
y  12.0  35.0
z  23.0  46.0

In [185]:
## Other element-wise operations:
# - `.sub()` ‚Üí subtraction
# - `.mul()` ‚Üí multiplication
# - `.div()` ‚Üí division
# All support `fill_value`

# Subtraction with fill_value
sub_result = df1.sub(df2, fill_value=0)
print(" df1.sub(df2, fill_value=0):\n", sub_result)

 df1.sub(df2, fill_value=0):
       A     B
x   1.0   4.0
y  -8.0 -25.0
z -17.0 -34.0

In [187]:
## Arithmetic with Series
# Operations between DataFrame and Series are also aligned by index

series = pd.Series([100, 200], index=['A', 'B'])
added = df1 + series
print("df1 + Series:\n", added)

df1 + Series:
      A    B
x  101  204
y  102  205
z  103  206

In [188]:
df1 = pd.DataFrame({
    'Math': [90, 80, 70],
    'English': [85, 75, 65]
}, index=['Ali', 'Sara', 'John'])

df2 = pd.DataFrame({
    'Math': [88, 78],
    'Science': [92, 81]
}, index=['Sara', 'John'])

print("df1:\n", df1)
print("\ndf2:\n", df2)

df1:
       Math  English
Ali     90       85
Sara    80       75
John    70       65

df2:
       Math  Science
Sara    88       92
John    78       81

In [190]:
## df.add(df2, fill_value=0)
# Fills missing values with 0 before performing addition
# Prevents `NaN` from propagating

# Add with fill_value to avoid NaNs
result = df1.add(df2, fill_value=0)
print("‚úÖ df1.add(df2, fill_value=0):\n", result)

‚úÖ df1.add(df2, fill_value=0):
       English   Math  Science
Ali      85.0   90.0      NaN
John     65.0  148.0     81.0
Sara     75.0  168.0     92.0

In [191]:
## Other Methods: .sub(), .mul(), .div()
# All support `fill_value` to handle mismatches

# Subtraction
sub = df1.sub(df2, fill_value=0)
print("Subtraction:\n", sub)

# Multiplication
mul = df1.mul(df2, fill_value=1)
print("\nMultiplication:\n", mul)

# Division
div = df1.div(df2, fill_value=1)
print("\nDivision:\n", div)

Subtraction:
       English  Math  Science
Ali      85.0  90.0      NaN
John     65.0  -8.0    -81.0
Sara     75.0  -8.0    -92.0

Multiplication:
       English    Math  Science
Ali      85.0    90.0      NaN
John     65.0  5460.0     81.0
Sara     75.0  7040.0     92.0

Division:
       English       Math   Science
Ali      85.0  90.000000       NaN
John     65.0   0.897436  0.012346
Sara     75.0   0.909091  0.010870

In [193]:
## Broadcasting Support
# Works like matrix ops ‚Äì aligns by index and column

# Broadcasting a Series across columns
bonus = pd.Series({'Math': 5, 'English': 10})
df_bonus = df1.add(bonus)
print("Bonus added:\n", df_bonus)

Bonus added:
       Math  English
Ali     95       95
Sara    85       85
John    75       75